.login-container {
    display: flex;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: white;
}

.login-left {
    width: 600px;
    flex-shrink: 0;
    background-image: url('src/assets/login-illustration.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: white;
    padding: 2rem;
}

.login-left-content {
    max-width: 100%;
    margin-top: 3rem;
    padding: 1rem;
}

.login-left h1 {
    font-size: 50px;
    font-weight: semibold;
    margin-bottom: 2rem;
    line-height: 4rem;
}

.login-right-texts {
    text-align: center;
}

.illustration-container img {
    max-width: 80%;
    height: auto;
}

.login-right {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
}

.login-form-container {
    /* width: 50%; */
    min-width: 320px;
}

.login-form-container h2 {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: semibold;
    margin-bottom: 0.5rem;
    color: #181D27;
}

.login-description {
    color: #666;
    margin-bottom: 2rem;
    font-size: 0.9rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-group label {
    font-size: 0.9rem;
    color: #414651;
}

.form-group input {
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 0.9rem;
    stroke: #D5D7DA;
    box-shadow: 0px 1px 2px rgb(10 13 18 / 5%);
}

.password-input-container {
    position: relative;
    width: 100%;
}

.password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #666;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.password-input-container input {
    padding-right: 40px;
    width: 100%;
    box-sizing: border-box;
}

.forgot-password {
text-align: center;
}

.forgot-password a {
color: #027A48;
text-decoration: none;
font-size: 0.85rem;
}

.login-button {
background-color: #12B76A;
color: white;
padding: 0.75rem;
border: none;
border-radius: 8px;
font-weight: 500;
cursor: pointer;
transition: background-color 0.2s;
}

.login-button:hover {
background-color: rgb(14, 158, 110);
}

.register-prompt {
text-align: center;
font-size: 0.85rem;
color: #666;
margin-top: 1rem;
}

.register-prompt a {
color: #027A48;
text-decoration: none;
font-weight: 500;
}

@media (max-width: 1024px) {
    .login-left {
      width: 450px;
    }
}


@media (max-width: 768px) {
.login-container {
    flex-direction: column;
}

.login-left {
    width: 100%;
    height: 250px;
}

.login-right {
    width: 100%;
}

.login-left {
    height: 30vh;
}

.login-form-container {
    width: 80%;
    padding: 2rem 0;
}
}