.amount-input-container {
    display: flex;
    position: relative;
    box-sizing: border-box;
  }
  
  .amount-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #535862;
    width: 20px;
  }
  
  .amount-input-container input {
    width: 100%;
    padding: 8px 8px 8px 30px;
  }
  
  .amount-input-container input:focus {
    outline: none;
    border-color: #6dd265;
  }