.header {
  position: fixed; /* Fixa o header no topo da página */
  top: 0;
  left: 0;
  width: 100%;
<<<<<<< HEAD
=======
<<<<<<<< HEAD:src/components/common/Header.css
>>>>>>> 0e31658 (Alterações de paginas)
  background: transparent;
  padding: 10px 30px;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
<<<<<<< HEAD
=======
========
  height: 4rem; /* Define uma altura fixa */
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Garante que o header fique acima de outros elementos */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem; /* Adiciona espaçamento interno */
>>>>>>>> ac67a15 (Alterações de paginas):src/Components/Header/Header.css
>>>>>>> 0e31658 (Alterações de paginas)
}

/* Layout geral */
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
}

.logo-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo {
  height: 2.5rem; /* Ajusta o tamanho do logo */
}

.title {
  font-size: 1.5rem;
  color: #333;
}

.nav-buttons {
  display: flex;
  gap: 1rem;
}

.nav-link {
  padding: 5px 20px;
  box-sizing: border-box;
  border-radius: 20px;
  text-decoration: none;
  font-size: 1rem;
  color: #555;
  transition: color 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.123);
}

.nav-link.active {
  background: #a6f79f;
  color: #000;
  font-weight: bold;
}

.nav-link:hover {
  color: #000;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 40px;
  flex-shrink: 0;
}

.user-icon img {
  height: 2rem;
  border-radius: 50%;
}
