.header {
  width: 95%;
  background: transparent;
  padding: 10px 40px;
  z-index: 1000;
  align-content: center;
  min-height: 65px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
}

.logo-title {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.title {
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  margin: 0;
}

.nav-buttons {
  display: flex;
  gap: 1rem;
}

.logo {
  height: 40px;
}

.nav-buttons {
  display: flex;
  gap: 10px;
  padding: 0 20px;
  flex-grow: 1;
  justify-content: center;
}

.nav-link {
  padding: 5px 20px;
  box-sizing: border-box;
  border-radius: 20px;
  text-decoration: none;
  color: #333;
  background: #f8f8f8;
  transition: background 0.3s, color 0.3s;
  font-size: 14px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.123);
}

.nav-link.active {
  background: #87f17e;
  color: #000;
  font-weight: bold;
}

.nav-link:hover {
  color: #000;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 40px;
  flex-shrink: 0;
}

.user-icon img {
  height: 2rem;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
