body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #eeeeee;
}

.main-content {
  padding-top: 0.5rem; /* Compensa a altura do header fixo */
  padding-bottom: 3rem; /* Compensa a altura do footer fixo */
  padding-left: 20px; /* Deixa o conteúdo alinhado à esquerda */
}
