:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #f5f5f7;
  background-color: #f5f5f7;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: none;

  --lima-50: #ceffc4;
  --lima-100: #7efb4a;
  --lima-200: #6fdd41;
  --lima-300: #68ce3c;
  --lima-400: #5db936;
  --lima-500: #51a32e;
  --lima-600: #448a26;
  --lima-700: #36701e;
  --lima-800: #285615;
  --lima-900: #1a3c0c;
  --lima-1000: #132f07;
  --lima-1100: #0c2204;
  --lima-1200: #061502;
}

:root::-webkit-scrollbar {
  display: none;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

main {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: #eeeeee;
}

main {
  flex: 1;
  width: 100%;
}

main {
  flex: 1;
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
